

body {
    margin:0;
    padding:0;
    
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    margin-left: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Hover effect for the card */
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-10px); /* Moves the card upwards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
}

    /* Optional: Change card image opacity on hover */
    .card-hover:hover .card-img-top {
        opacity: 0.8;
    }

