body {
    margin:0;
    padding:0;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    margin-left: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
